.suggestion-context {
    width: 67%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin: 0 auto 10px auto;
}

.suggestion-context--item {
    display: contents;
}

.suggestion-context--item>label {
    justify-self: end;
    font-weight: bold;
}

.suggestion-context--item>input {
    font-family: inherit;
    font-size: 0.875em;
    justify-self: start;
    width: 100%;
}