.get-suggestion-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.top-button {
    border-radius: 7px 7px 0px 0px;
    background-color: #6800c9;
    transition: background-color 0.25s;
}

.top-button:hover {
    background-color: #9027f3;
}